#title, #roles {
    text-align: center;
}

#title, h1, h2, h3 {
    font-family: var(--headings);
}

#roles {
    border-bottom: 1px #888 solid;
}

h2 {
    margin-top: 2em;
    border-bottom: 1px #888 solid;
}

#synopsis {
    border-bottom: none;
    margin-top: .7em;
}

p {
    margin: 0px;
    font-family: var(--paras);
}

h3 {
    margin-bottom: 0px;
}

.year {
    color: #888;
    font-size: .8em;
    font-weight: normal;
}

.latex sup, .latex sub {
    text-transform: uppercase;
}

.latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}
