<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
                                <li><a href="/CV">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:craig@plannd.com.au">email</a></li>
	        		<li><a href="https://github.com/dashaxiong">github.com/dashaxiong</a></li>
                                <li><a href="http://stackoverflow.com/users/1465368/dashaxiong">stackoverflow.com/dashaxiong</a></li>
                                <li><a href="http://www.abr.business.gov.au/SearchByAbn.aspx?SearchText=71+982+236+195">ABN</a></li>
                                <li>Scripthead</li>
                        </ul>
			</footer>
		</body>
	</html>
